<div class="container">
    <div class="ui grid">
        <div class="title sixteen wide column">
            <h1 class="ui dividing header">Gossip FB</h1>
        </div>
        <div class="ten wide column">
            <div id="chart">
                <img class="chart" src="assets/chart.jpg"></img>
            </div>
            <div id="demo"></div>
        </div>
        <div class="six wide column">
        </div>
    </div>
</div>
