<<<<<<< HEAD
<div class="container">
    <div class="ui grid">
        <div class="sixteen wide column">
            <h1 class="ui dividing header">Gossip FB</h1>
        </div>
        <div class="ten wide column">
            <div id="chart">
                <img class="chart" src="assets/chart.jpg"></img>
            </div>
            <div id="demo"></div>
        </div>
        <div class="six wide column">
            <div class="ui selection dropdown">
                <input type="hidden" name="gender">
                <div class="text">Female</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-value="1">Male</div>
                    <div class="item active" data-value="0">Female</div>
                </div>
            </div>
        </div>
    </div>
</div>
=======
<%=
	# @profile
	@me
%>

Hello


<div id="demo"></div>

>>>>>>> 0c6dca1824fe56d8967eac153eed2e210c6f6e0b
