body {
    margin: 0;
}

/* Axis Style */
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    fill: black;
    font-family: sans-serif;
    font-size: 10px;
}

.container {
    position: relative;
    margin: 0px auto;
    width: 1000px;
}

.chart {
    width: 640px;
}

h1 {
    font-size: 100px;
    text-align: center;
}
